<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html ; charset= utf-8">
</head>

<body>
    <div id = "page-wrap">
        <div id= "contant-info" class = "vcard">
            <h1>Uros Mladenovic</h1>
        </div>


        <div id = "objective">
            <h4>Licni podaci</h4>
            <p> <strong>Ime i prezime: </strong> Uros Mladenovic </p>
            <p> <strong>Datum rodjenja: </strong> 29.04.1996 </p>
            <p> <strong>Adresa: </strong> Zike Markovica 7/1, 11273 Batajnica</p>
            <p> <strong>Telefon </strong> 064-450-63-83 </p>
            <p> <strong>Email: </strong> <a class = "email" href = "mailto:mladenko96@gmail.com">mladenko96@gmail.com</a> </p>  
        </div>
        
      <dl>
          <dd class = "clear"></dd>
          <dt>Obrazovanje</dt>
          <dd>
              <h2>Osnovna skola</h2>
              <p>Svetislav Golubovic Mitraljeta 2003-2011</p>
          </dd>

          <dd>
              <h2>Srednja skola</h2>
              <p>Deseta Beogradska gimnazija "Mihajlo Pupin" 2011-2015</p>
          </dd>

          <dd>
              <h2>Fakultet</h2>
              <p>Fakultet tehnickih nauka 2015-2019</p>
          </dd>

          <dd class = "clear"></dd>

          <dt>Vestine</dt>
          <dd>
              <h2>Windows </h2>
              <p>Razni programi</p>
          </dd>
          <dd class = "clear"></dd>

          <dt>Iskustvo</dt>
          <dd>
              <h2>Isks </h2>
              <p>Razna iskustva</p>
          </dd>
          <dd class = "clear"></dd>
      </dl>



    </div>
</body>